// Mixins
@mixin flex_direction_align_justify($d: row, $a: flex-start, $j: flex-start) {
  display: flex;
  flex-direction: $d;
  align-items: $a;
  justify-content: $j;
}

@mixin mobile() {
  @media (min-width: 0px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}