@import "../../scss/partials/mixins";

.menu_form {
  @include flex_direction_align_justify(column, center, center);

  &__submit {
    @include flex_direction_align_justify(row, center, center);
    background-color: #e80b40;
    border: none;
    height: 2em;
    border-radius: 1em;
    color: #ffde7d;
    min-width: 100px;
    /* #57 by Facebook */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    &:hover {
      cursor: pointer;
      background-color: #d80a3c;
    }
  }

  &__enter {
    @include flex_direction_align_justify(column, center, center);

    @include tablet() {
      @include flex_direction_align_justify(row, center);
    }
  }

  &__title {
    margin: 0;
  }

  &__input {
    min-width: 16px;
    max-width: 30px;
    margin: 0.2em;
    font-size: 16px;
    height: 20px;
  }
}