.item {
  width: 95%;
  border: 0.1px solid #0a7336;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  background-color: #f6e9d8;
}

h1 {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

img {
  height: 8em;
  width: 8em;
  border-radius: 1em;
  margin: .5em
}

.info{
  margin-left: 1em;
}

.details {
  color: #0a7336;
  margin: 0;
}
