.item {
  width: 100%;
  border: 1px solid #00B8A9;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F3D4;
}

.left {
  display: flex;
  align-items: center;
  width: 60%;
}
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
}


h1 {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

img {
  height: 10rem;
  width: 8em;
  border-radius: 10px;
}

.info {
  margin-left: 1em;
}

.details {
  color: #00B8A9;
  margin: 0;
}

@media screen and (max-width: 900px) {
img{
  height: 60px;
  width: 20%;
}
  .details{
    font-size: small;
  }

  .menu__item__header{
    font-size: larger;
  }

}
