.cart {
  background-color: #faf1e6;
  width: 60vw;
  height: 60vh;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #064420;
}

.body {
  width: 100%;
  height: 60%;
  background-color: #faf1e6;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center
}

.footer {
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  background-color: #064420;
  font-size: x-large;
  border-radius: 1em;
  border: none;
  margin: 0.5em;
  width: 5em;
  height: 1.5em;
  color: #faf1e6;
}

#close {
  background-color: #e4efe7;
  border: 1px solid #064420;
  color: #064420;
}

.button:hover {
  cursor: pointer;
  background-color: #0a7336;
}

#close:hover {
  background-color: #c4dccb;
}
.total {
  margin: 1em;
}
.item {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  border: 1px solid #064420;
  border-radius: 1em;
  padding: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
}

hr {
  border: 1px solid #064420;
  width: 90%;
}

.itemForm {
  margin: 1em;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButton {
  margin: 1em;
  height: 2em;
  width: 2em;
  font-size: large;
  background-color: #064420;
  color: #faf1e6;
  border: none;
  border-radius: 0.1em;
}

.cartButton:hover {
  cursor: pointer;
  background-color: #0a7336;
}
.cartInfo {
  margin-left: 1em;
}

#remove {
  background-color: #e4efe7;
  color: #064420;
  border: 1px solid #064420;
}

#remove:hover {
  background-color: #c4dccb;
}

@media screen and (max-width: 450px) {
  .cart {
    width: 90vw;
    height: 70vh;
  }
  
  .cartHeading {
    font-size: x-large;
  }
}