@-webkit-keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-animation: slide-in 1s;
          animation: slide-in 1s;
  background-color: #00c9b9;
  width: 70%;
  height: 60%;
  border-radius: 1em;
  color: #e80b40;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  max-width: 500px;
  max-height: 700px;
}

@media (min-width: 0px) {
  .cart {
    width: 90vw;
    height: 70vh;
  }
}

.cart__line {
  border: 2px solid #e80b40;
  width: 80%;
}

.cart__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 60%;
  background-color: #f8f3d4;
  overflow: scroll;
  overflow-x: hidden;
}

.cart__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 22%;
}

.cart__total {
  margin: 1.25rem;
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 90%;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__button {
  background-color: #e80b40;
  font-size: x-large;
  border-radius: 1em;
  border: none;
  margin: 0.2em;
  width: 5em;
  height: 1.5em;
  color: #ffde7d;
  /* #57 by Facebook */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.cart__button:hover {
  cursor: pointer;
  background-color: #d80a3c;
}

.cart__button--close {
  background-color: #f8f3d4;
  color: #00b8a9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart__button--close:hover {
  background-color: #c4dccb;
}

::-webkit-scrollbar {
  width: 0.4rem;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: #00b8a9;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  border: 1px solid #00b8a9;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.item__info {
  margin-left: 1em;
}

.item__heading {
  margin: 0.4rem 0;
  color: #e80b40;
}

.item__price {
  color: #00b8a9;
}

.item__form {
  margin: 1em;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__button {
  margin: 0.6rem;
  height: 2rem;
  width: 2.2rem;
  font-size: large;
  background-color: #e80b40;
  color: #ffde7d;
  border: none;
  border-radius: 50%;
}

.item__button:hover {
  cursor: pointer;
  background-color: #d80a3c;
}

.item__button--remove {
  background-color: #e4efe7;
  color: #00b8a9;
  border: 1px solid #00b8a9;
}

.item__button--remove:hover {
  background-color: #c4dccb;
}
/*# sourceMappingURL=Cart.css.map */