.header{
  width: 100%;
  background-color: #00c9b9;
  height: 4rem;
  display: flex;
  position: fixed;
}

.restaurant{
  margin-left: 1rem;
  color: #e80b40;
  font-size: 3em;
  width: 70%;
  font-weight: bold;
}

.left{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  background-color: #e80b40;  
  height: 65%;
  width: 14rem;
  margin: 1em;
  margin-right: 4em;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* #83 by Mac*/
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.button:hover {
  cursor: pointer;
  background-color: #d80a3c;
}

.cart{
  font-size: 1.8em;
  color: #FFDE7D;
}

@media screen and (max-width: 450px) {
  .right{
    width: 70%;
  }
  
  .button{
    width: 100%;;
  }

  .restaurant{
    font-size: x-large;
  }
}